{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 form-div" style="">
            <div class="button" style="text-align: center;padding-top: 11px;">
                <label>User age must be less then 18.</label>
            </div>
            <form id='user_form' method="post">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {# Include the visible fields #}
                <p class="hint" style=""> Enter your personal details below: </p>
                {% for field in form.visible_fields %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                         {{ field }}
                    </div>
                {% endfor %}
                <br/>
                <input type="submit" class="btn btn-success" value="Submit"/>
            </form>

        </div>
        <div class="col-lg-4"></div>
    </div>
</div>


{% endblock %}