{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>

        function sleep (time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }

        $(function () {

            var arr = new Array();
            var count = 0;

            var howler_example = new Howl({
                src: ["{% static "audio/first_sound.mp3" %}"],
            });

            var howler_example2 = new Howl({
                src: ["{% static "audio/second_sound.mp3" %}"],
            });


            $("#howler-play").on("click", function () {
                howler_example.play();
            });

            $("#howler-pause").on("click", function () {
                howler_example.pause();
            });

            $("#howler-stop").on("click", function () {
                howler_example.stop();
            });


            $("#howler-log_time").on("click", function () {

                console.log(howler_example.seek());
                arr.push(howler_example.seek());

            });

            $("#model_btn").on("click", function () {
                $("#model_btn").blur();
                arr = new Array();
                count = 0;
                howler_example.play();
            });

            $(".close").on("click", function () {
                howler_example.stop();
                howler_example2.stop();
                arr = new Array();
                count = 0;
            });

            $(document).keypress(function (e) {
                if (e.which == 13) {
                    count = count + 1;
                    if (count == 1) {
                        $('p').text('Second sound will be played after 5s - press "enter key" when you start hearing the sound.');
                        console.log(howler_example.seek());
                        arr.push(howler_example.seek());
                        howler_example.stop();
                        sleep(5000);
                        howler_example2.play();
                    }else {
                        console.log(howler_example2.seek());
                        arr.push(howler_example2.seek());
                        howler_example2.stop();
                    }

                    if (count == 2) {
                        console.log(arr);
                        $.ajax({
                            type: "POST",
                            url: "{% url 'submit_time' %}",
                            data: {
                                'data': arr
                            },
                            success: function (html) {
                                data = html.split(',');
                                alert(data);


                                $('#id_frequency1').val(data[0]);
                                $('#id_frequency2').val(data[1]);
                                $("#id_frequency1").prop("readonly", true);
                                $("#id_frequency2").prop("readonly", true);


                                $('#id_average').val(data[2]);
                                $('#id_age').val(data[3]);
                                $("#id_age").prop("readonly", true);
                                $("#id_average").prop("readonly", true);


                                $('#user_form').append('<input type="hidden" name="validation" value="valid" />');
                                $('#close_button').click();
                                arr = new Array();
                                count = 0;
                            }
                        });
                    }

                }
            });


        });


    </script>


    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog" id='modal'>

        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="close_top">&times;</button>
                <h4 class="modal-title">Age Verifier</h4>
            </div>
            <div class="modal-body">
                <p>Sound will start playing - press "enter key" when you stop hearing the sound.</p>
            </div>
            <div class="modal-footer">
                <button id='close_button' type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <button type="button" id='model_btn' class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
                Verify Your
                Age
            </button>
            <form id='user_form' method="post">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {# Include the visible fields #}
                {% for field in form.visible_fields %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <br/>
                <input type="submit" class="btn btn-success" value="Submit"/>
            </form>

        </div>
        <div class="col-lg-3"></div>
    </div>
</div>


{% endblock %}